#root {
    margin: 0 auto;
}

.App {
    text-align: center;
    min-height: 600px;
    width: 450px;
    border-radius: 20px;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    position: relative;
}

.loader {
    min-height: 600px;
    width: 450px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        0deg,
        rgba(51, 50, 45, 1) 0%,
        rgba(139, 127, 116, 1) 100%
    );
}

@media screen and (max-width: 411px) {
    #root {
        height: 100vh;
        width: 100vh;
        padding: 0;
    }

    .App,
    .loader {
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
}
